<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
			integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
			crossorigin="anonymous"
		/>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create New Hero</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li>
						<a class="navbar-left" href="{% url 'superheroes:index' %}">
							SUPERHERO INDEX
						</a>
					</li>
					<li class="active">
						<a href="{% url 'superheroes:create' %}">ADD HERO</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<form
				action="{% url 'superheroes:create' %}"
				method="post"
				enctype="multipart/form-data"
			>
				{% csrf_token %}
				<div class="form-group">
					<label for="name">Hero Name</label>
					<input
						class="form-control"
						required
						type="text"
						name="name"
						id="name"
					/>
				</div>

				<div class="form-group">
					<label for="alter_ego">Alter Ego</label>
					<input
						class="form-control"
						required
						type="text"
						name="alter_ego"
						id="alter_ego"
					/>
				</div>

				<div class="form-group">
					<label>Primary Ability</label>
					<input
						class="form-control"
						required
						type="text"
						name="primary_ability"
						id="primary_ability"
					/>
				</div>

				<div class="form-group">
					<label>Secondary Ability</label>
					<input
						class="form-control"
						required
						type="text"
						name="secondary_ability"
						id="secondary_ability"
					/>
				</div>

				<div class="form-group">
					<label>Catchphrase</label>
					<input
						class="form-control"
						required
						type="text"
						name="catchphrase"
						id="catchphrase"
					/>
				</div>

				<div class="form-group">
					<label>Image</label>
					<input
						class="btn btn-default btn-lg"
						type="file"
						name="image"
						id="image"
					/>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-lg" type="submit">ADD HERO</button>
					<a class="btn btn-danger btn-lg" href="{% url 'superheroes:index' %}">
						Cancel
					</a>
				</div>
			</form>
		</div>
	</body>
</html>
