<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DELETE {{hero.name}}</title>
	</head>
	<body>
		<h1>Are you sure you want to delete {{hero.name}}??</h1>
		<form action="{% url 'superheroes:delete' hero.id %}" method="post">
			{% csrf_token %}
			<input type="submit" value="YES" />
			<button type="button">
				<a href="{% url 'superheroes:detail' hero.id %}">Cancel</a>
			</button>
		</form>
	</body>
</html>
