<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{hero.name}}</title>
	</head>
	<body>
		<h1>{{hero.name}}</h1>
		<h2><i> {{hero.alter_ego}} </i></h2>
		<p>Primary Ability: {{hero.primary_ability}}</p>
		<p>Secondary Ability: {{hero.secondary_ability}}</p>
		<p>Catchphrase: {{hero.catchphrase}}</p>
		<button>
			<a href="{% url 'superheroes:edit' hero.id %}">EDIT</a>
		</button>
		<button>
			<a href="{% url 'superheroes:delete' hero.id %}">DELETE</a>
		</button>
	</body>
</html>
